* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3rem;
  background-color: rgba(217, 255, 199, 0.534);
  background-image: url('images/us2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: rgb(55, 93, 151);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.title h1 {
  color: white;
}

.subtitle {
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 0.52rem;
  height: 20px;
}

.names {
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
  height: 36px;
  display: flex;
  background-color: rgb(229, 255, 249);
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

main .container{
  padding:1rem;
  padding-top:4rem;
  display:flex;
  justify-content: space-evenly;
  
}
.names div {
  padding:0.2rem;
  background-color: rgb(154, 208, 255);
  width:24.7rem;
  text-align: center;
  height:100%;
}

.candidate-info{
  width:25rem;
  height:24rem;
}

.content{
  background-color: rgb(123, 148, 32);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem 1.5rem 2rem;
  font-size:1.3rem;
  color:white;
  line-height: 1.8rem;
  font-family: monospace;
}

.img-container{
  position: relative;
}

.pic{
  z-index:0;
  width: 15rem;
  height:22rem;
  border-radius: 0.6rem;
  padding-bottom:0.6rem;
}

.percent{
  position: absolute;
  bottom:1.3rem;
  right:0.1rem;
  margin-top:0.16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent div{
  display:flex;
  align-items:center;
  justify-content: center;
  width:4.3rem;
  height:4.3rem;
  text-align: center;
  border-style:solid;
  border-width:2px;
  border-color: rgb(106, 67, 211);;
  color:rgb(82, 255, 67);
  font-size: 1.7rem;
  padding:0.5rem;
  border-radius: 100%;
  background-color: black
}

@media screen and (min-width: 1250px) and (max-width: 1600px) {
  body {
    padding-top: 1.9rem;
  }
  
  .title{
    height: 4rem;
  }
  .subtitle{
    display:none;
  }
   footer{
    height: 2rem;
   }
   .author{
    height:100%;
   }
}

@media screen and (min-width: 856px) and (max-width: 1249px) {
body{
  min-height: 180vh;
}

  main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 9rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  .candidate-container:nth-child(3n) {
    grid-column: span 2;
  }
}

@media screen and (max-width: 855px) {
  main .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 9rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    justify-items: center; 
  }
}

@media screen and (max-width: 420px) {
  main .container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    grid-row-gap: 4rem;
    scroll-behavior: smooth;
  }

  .candidate-container{
    scroll-margin-top:3.5rem;
  }

  .candidate-info {
    width: 15rem;
    height: 25rem;
    margin-bottom: 6rem;
  }

  .content {
    height: 33rem;
  }

  /* #nikki {
    order: -1;
  } */

   .name{
    order:-1;
  }

  .party {
    text-align: center;
  }
}

footer{
  position:fixed;
  bottom:0;
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
}

.author{
  flex:1;
  background-color: rgb(101, 72, 204);
  color:white;
  text-align: center;
  padding:0.3rem;
}